<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>575774116198-34cbne93199f703i124cv4ggjtbnb3ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575774116198-34cbne93199f703i124cv4ggjtbnb3ic</string>
	<key>API_KEY</key>
	<string>AIzaSyB67ydbWCCnKHmU4QjXKfu8IQ_CHo9If0A</string>
	<key>GCM_SENDER_ID</key>
	<string>575774116198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hubofallthings.datatraderstaging</string>
	<key>PROJECT_ID</key>
	<string>datatrader-267b0</string>
	<key>STORAGE_BUCKET</key>
	<string>datatrader-267b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575774116198:ios:699baeebb729e33e</string>
	<key>DATABASE_URL</key>
	<string>https://datatrader-267b0.firebaseio.com</string>
</dict>
</plist>